@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  color: black;
  font-style: normal;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-index {
  text-align: center;
}

.main-container {
  flex-grow: 1;
}

.page-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.navigation-link {
  color: black;
  text-decoration: none;
}

.advantages-box {
  color: white;
  background-color: #82B3D3;
  display: flex;
}

.advantages-wrapper {
  width: 400px;
  height: 384px;
  display: flex;
  flex-direction: column;
}

.town-qualities-list {
  display: flex;
  margin: 0 auto;
  list-style: none;
}

.town-qualities-item {
  width: 400px;
  height: 384px;
}

.town-qualities-item:not(:nth-child(2)) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list {
  display: flex;
  margin: 0 auto;
  list-style-type: none;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 384px;
}

.advantages-item:nth-child(2) {
  background-color: rgba(131, 179, 211, 0.2);
}

.index-newsletter {
  color: white;
  background-image: url("../images/background-letter.jpg");
  background-size: 1200px 411px auto;
  background-repeat: no-repeat;
}

.contacts {
  text-align: left;
}


.button {
  background-color: #756157;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: white;
}

.second-button {
  background-color: #82B3D3;
}

.selected-button {
  background-color: #7DB54F;
}

.pagination-link {
  background-color: #82B3D3;
  text-decoration: none;
  color: white;
}

.pagination-current {
  background-color: #F2F2F2;
}

.pagination {
  list-style-type: none;
}

.social-list {
  list-style-type: none;
}

.page-navigation {
  display: flex;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 450px;
}

.user-navigation {
  margin-left: auto;
  padding: 0;
  list-style: none;
  max-width: 265px;
}

.container {
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
}
